.QrCodeCard .card-header {
	display: flex;
	justify-content: space-between;
    column-gap: 4em;
    margin-bottom: 2em;
}

.QrCodeCard h2 {
	font-size: 2rem;
	font-weight: bold;
	color: #23262f;
}

.QrCodeCard .close-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px #e6e8ec;
    cursor: pointer;
    background-color: white;
}

.QrCodeCard .notice {
    display: flex;
    align-items: center;
    column-gap: 1.25em;
    margin-bottom: 2em;
}

.QrCodeCard .notice .red-dot {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f10000;
}

.QrCodeCard .notice small {
    font-size: .75rem;
    color: #777e90;
}

.QrCodeCard .qrcode-container {
    padding: 3em;
    width: fit-content;
    border-radius: 12px;
    border: 1px solid red;
    box-shadow: 0 4em 4em -3em rgba(31, 47, 70, 0.12);
    border: solid 1px #e6e8ec;
    background-color: #fcfcfd;
    margin-left: auto;
    margin-right: auto;
}

.QrCodeCard .qrcode-container svg {
    min-width: 200px;
    min-height: 200px;
}