.accountInfo{

    height: 384px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
  padding: 0;
}

.accountInfo .Account-Info{
    height: 24px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #23262f;
}
.accountInfo .Display-name{
    height: 72px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0;
}
.accountInfo .Display-name label{
    width: 91px;
  height: 12px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #b1b5c3;
}

.accountInfo .Display-name .Display-name-input{
    padding: 0;
    width:100%;height:100%;
    border-radius: 8px;
    border: solid 2px var(--divider-clr);
    outline: none;
  }

.accountInfo .Display-name .single-input span{
    height: 24px;
    flex-grow: 1;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #777e90;
}

/*custom url css*/
.accountInfo .CustomUrl{
    height: 72px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;

}
.accountInfo .CustomUrl label{
    width: 80px;
    height: 12px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #b1b5c3;
} 
.accountInfo .CustomUrl .single-input{
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 12px;
    border: solid 2px #e6e8ec;
}
/*.accountInfo .CustomUrl .single-input .Input-caption {
    height: 24px;
    flex-grow: 1;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #777e90;
  }
  .accountInfo .CustomUrl .single-input .Input-caption .text-style-1 {
    color: #23262f;
  }*/

  .accountInfo .CustomUrl .CustomUrl-input{
    padding: 0;
    width:100%;height:100%;
    border-radius: 8px;
    border: solid 2px var(--divider-clr);
    outline: none;
  }

  /*Bio*/
  .accountInfo .Bio{
    height: 120px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0;

}
.accountInfo .Bio label{
    width: 21px;
    height: 12px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #b1b5c3;
} /*
.accountInfo .Bio .single-input{
    align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 12px;
  border: solid 2px #e6e8ec;
}
.accountInfo .Bio .single-input span{
    height: 24px;
  flex-grow: 1;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #777e90;
}*/
.accountInfo .Bio .Bio-input{
    padding: 0;
    width:100%;height:100%;
    border-radius: 8px;
    border: solid 2px var(--divider-clr);
    outline: none;
  }
.accountInfo .Bio input::placeholder{
    position: absolute;
  left:5px;
  top: 5px;
}