.AppLogo .Logo-link {
    display: block;
    color: var(--primary-text-clr);
    text-decoration: none;
}

.AppLogo .Logo-link .crypter {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
}
@media screen and (max-width:480px ) {
    .AppLogo.open{
        display: none;       
    }
    
}