.ChooseCollectionInput label {
	font-size: 1rem;
	font-weight: 600;
	color: #23262f;
	display: block;
	margin-bottom: 0.25em;
}

.ChooseCollectionInput .collections-list {
	margin-top: 1.4em;
	display: flex;
	justify-content: flex-start;
    gap: .75em;
    flex-wrap: wrap;
}

.ChooseCollectionInput .collections-list .collection {
	border-radius: 16px;
	background-color: #f4f5f6;
	padding: 1.5em;
    width: 30%;
    max-width: 160px;
    cursor: pointer;
    transition: .4s;
}

.ChooseCollectionInput .collections-list .collection.selected {
    background-color: #d7d7d8;
}

.ChooseCollectionInput .collections-list .collection:hover {
    background-color: #d7d7d8;
}

.ChooseCollectionInput .collections-list .collection img {
    width: 40px;
    height: 40px; 
    object-fit: cover;
    border-radius: 50%;
}

.ChooseCollectionInput .collections-list .collection .image-placeholder {
    width: 40px;
    height: 40px; 
    display: block;
    border-radius: 50%;
    background-color: #e5e5e5;
}

.ChooseCollectionInput .collections-list .collection .title {
	color: #23262f;
    font-size: 0.87em;
    font-weight: bold;
    display: block;
    margin-top: 0.84em;
}

.ChooseCollectionInput .collections-list .add-collection-btn .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23262f;
}