.CreateSingleItemForm {
    /* border: 1px solid blue; */
}

.CreateSingleItemForm .form-div {
    /* border: 1px solid green; */
}

.CreateSingleItemForm .CheckboxSettingsItem .CheckboxSettingsItem-label {
    font-weight: 600;
}

.CreateSingleItemForm .CheckboxSettingsItem {
    margin-bottom: 1.9em;
}

.CreateSingleItemForm .horizontal-divider {
    margin-bottom: 1.9em;
}