.DetailsPage{
    width: 100%;
    height: 960px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 56px;
    padding: 96px 56px 96px 160px;
   background-color: #fcfcfd;
}
/*add
.DetailsPage .Container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.DetailsPage .Container > img{
      border-radius: 16px;
}*/