.EditProfilePage {
	padding-bottom: 136px;
}

.EditProfilePage .container {
	padding-left: 5%;
	padding-right: 5%;
} 

@media screen and (min-width : 700px) {
	.EditProfilePage .container {
		padding-left: 11%;
		padding-right: 11%;
	}
}