.Edit-profile {
    height: 1025px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 64px;
    padding: 0 352px;

   
  }

  .Edit-profile .Headline {
    height: 96px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0;
  }

  .Edit-profile .Headline .Edit-span {
    width: 352px;
    height: 56px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.96px;
    text-align: left;
    color: #23262f;
}
.Edit-profile .Headline .Headline-span{
    width: 736px;
    height: 24px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #777e90;
}
.Edit-profile .Headline .Headline-span .text-style-1{
    font-weight: 500;
    color: #23262f;
}