@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--main-bkclr: #fcfcfd;
	--divider-clr: #e6e8ec;
	--primary-text-clr: #23262f;
	--secondary-text-clr: #777e90;
	--blue-btn-clr: #3772ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--main-bkclr);
	font-family: 'Inter', sans-serif;
}

img {
	max-width: 100%;
}

button,
input,
textarea {
	outline: none;
}

.horizontal-divider {
	width: 2px;
	min-height: 100%;
	border-radius: 2px;
	background-color: var(--divider-clr);
}

.btn {
	border-radius: 90px;
	padding: 0.85em 1.15em;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.btn-blue {
	background-color: var(--blue-btn-clr);
	color: #fcfcfd;
}

.btn-white {
	background-color: transparent;
	border: solid 2px var(--divider-clr);
	color: var(--primary-text-clr);
}

.model-background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.model-popup-box {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.model-background.active,
.model-popup-box.active {
	display: block;
}

.card {
	border-radius: 20px;
	box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
	background-color: #fcfcfd;
	padding: 2em;
}

.center-container {
	padding-left: 11%;
	padding-right: 11%;
}

.page {
	padding-top: 2em;
	padding-bottom: 3em;
}