.ItemDetails {
    /* border: 1px solid green; */
}

.ItemDetails .section-label {
    margin-bottom: 1.9em !important;
}

.ItemDetails .form-label {
    text-transform: uppercase;
}

.ItemDetails .input-elt {
    padding: 0.9em 1.2em;
    border-radius: 12px;
    border: solid 2px #e6e8ec;
    width: 100%;
}

.ItemDetails .form-subdiv {
    margin-bottom: 1.9em;
}