.MainPage {
    padding: 0 !important;
    padding-top: 4em;
}

.MainPage > div {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 11%;
    padding-right: 11%;
}

.MainPage .collections-container {
    display: flex;
    column-gap: calc((100% - 30% * 3) / 2);
}

.MainPage .collections-container .CollectionCard {
    width: 30%;
}

.MainPage > .section > h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #23262f;

    margin-bottom: 2em;
}

.MainPage .section.popular-sellers {
    background-color: #f4f5f6;
    border: 1px solid red;
}