.NewsletterInput {
	position: relative;
}

.NewsletterInput .NewsletterInput-input {
    font-size: 14px;
    font-size: .9rem;
	padding: .9em;
	border-radius: 90px;
	border: solid 2px #e6e8ec;
	width: 100%;
}

.NewsletterInput .NewsletterInput-btn {
	position: absolute;
	top: 50%;
	right: 2.5%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 100px;
	background-color: #3772ff;
    border: none;
    cursor: pointer;
}
