 .Account .Frame-936 {
  width: 1120px;
  height: 746px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  margin: 213px 160px 0;
  padding: 0;

  background-color: rgb(20, 192, 135);
}