.ProfilePhoto {
	height: 148px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 32px;
	padding: 0;
}

.ProfilePhoto .Avatar {
	width: 128px;
	height: 128px;
	flex-grow: 0;
	border-radius: 160px;
	/*background-color: #45b26b;*/
}

.ProfilePhoto .Avatar .Pic {
	width: 128px;
	height: 128px;
	margin: 0 32px 20px 0;
	border-radius: 160px;
}


.ProfilePhoto .Frame-944 {
	width: 192px;
	height: 148px;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
	padding: 0;

	/*background-color: #23262f;*/
}


.ProfilePhoto .Frame-944 .Frame-945 {
	width: 192px;
  height: 92px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0;

  /*background-color: #45b26b;*/

}

.ProfilePhoto .Frame-944 .Frame-945 .Profile {
	width: 150px;
	height: 24px;
	flex-grow: 0;
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #23262f;
}

.ProfilePhoto .Frame-944 .Frame-945 .Recomendation {
	width: 192px;
	height: 60px;
	flex-grow: 0;
	font-family: Inter;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #777e90;
}
