.SearchBox {
    position: relative;
    display: flex;
}

.SearchBox .SearchBox-input {
    padding: .75em .9em .75em 1.2em;
    border-radius: 8px;
    border: solid 2px var(--divider-clr);
    outline: none;
}

.SearchBox .SearchBox-button {
    position: absolute;
    right: 0;
    min-height: 100%;
    border: none;
    padding: 0 .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
