.UploadItemPage {
    padding-top: 4.7em;
    padding-bottom: 4.7em;
}

.UploadItemPage .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4.7em;
}

.UploadItemPage .headline h2 {
    font-size: 2.8rem;
    color: #23262f;
}

.UploadItemPage .headline p {
    margin: 0;
    color: #777e90;
    padding: 1.1em;
    font-size: 0.9rem;
    max-width: 695px;
    width: 90%;
}

.UploadItemPage .options-container {
    display: flex;
    gap: 2%;
    justify-content: center;
}

.UploadItemPage .options-container .create-option {
    border: 1px solid #e6e8ec;
    padding: .9em .9em 1.9em;
}

.UploadItemPage .options-container .create-option .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 1.5em;
    transition: background-color .5s, color .5s;
}

.UploadItemPage .options-container .create-option .btn:hover {
    background-color: var(--blue-btn-clr);
	color: #fcfcfd;
}

.UploadItemPage .footline {
    text-align: center;
    margin-top: 2em;
}

.UploadItemPage .footline p {
    margin: 0;
    color: #777e90;
    font-size: 0.688rem;
}