.UploadFileInput {
    /* border: 1px solid green; */
}

.UploadFileInput input {
    display: none;
}

.UploadFileInput .upload-btn {
    display: block;
    width: 100%;
    padding: 4.8em 0.6em;
    margin-top: 1.2em;
    cursor: pointer;
    background-color: #f4f5f6;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}

.UploadFileInput .upload-btn:hover {
    background-color: #e3e4e6;
}

.UploadFileInput .upload-btn p {
    margin: 0;
    color: #777e90;
    font-size: 0.75rem;
    margin-top: 0.85em;
}