.PopularToken {
    width: 100%;
    height: 964px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 128px;
    padding: 128px 160px 136px;
    background-color: #fcfcfd;
}
.PopularToken .Image{
    width: 640px;
    height: 700px;
    margin: 0 128px 0 0;
    border-radius: 16px;
    background-color:#9757d7;
}
.PopularTokenCard {
    width: 352px;
    height: 608px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
}
.PopularTokenCard .details-1{
    width: 100%;
    height: 128px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
}
.PopularTokenCard .details-1 span{
    width: 100%;
  height: 64px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.96px;
  text-align: left;
  color: #23262f;
}
.PopularTokenCard .creator--price{
    width: 352px;
    height: 44px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
   
}
.PopularTokenCard .creator--price .creator{
    height: 44px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0;
  
}

.PopularTokenCard .creator--price .collection{
    height: 44px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0;
 
}
.PopularTokenCard .creator--price .creator .type-full{
    width: 77px;
    height: 44px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}
.PopularTokenCard .creator--price .creator .avatar{
    width: 40px;
  height: 40px;
  margin: 2px 8px 2px 0;
  border-radius: 48px;
  background-color: #e4d7cf;
}
.PopularTokenCard .creator--price .creator .type{
    width: 43px;
    height: 20px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #777e90;
}
.PopularTokenCard .creator--price .creator .FullName{
    width: 77px;
  height: 24px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #23262f;
}

.PopularTokenCard .creator--price .collection .type-full{
    width: 77px;
    height: 44px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}
.PopularTokenCard .creator--price .collection .avatar{
    width: 40px;
  height: 40px;
  margin: 2px 8px 2px 0;
  border-radius: 48px;
  background-color: #e4d7cf;
}
.PopularTokenCard .creator--price .collection .type{
    width: 43px;
    height: 20px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #777e90;
}
.PopularTokenCard .creator--price .collection .FullName{
    width: 77px;
  height: 24px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #23262f;
}