/*****DetailsCard***/

.DetailsCards {

  max-width: 384px;
  display: flex;
  flex-direction: column;
}

.DetailsCards .Bloc-1 {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 0;

}

.DetailsCards .Bloc-1 .title {
  display: block;
  font-size: 3em;
  font-weight: bold;
}

.DetailsCards .Bloc-1 .Price-info {
  margin-top: 8px;
  width: 100%;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;

}

.DetailsCards .Bloc-1 .Price-info .RVN {
  display: block;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  color: #45b26b;
  border-radius: 4px;
  border: solid 2px #45b26b;
  white-space: nowrap;
}

.DetailsCards .Bloc-1 .Price-info .USD {
  display: block;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  color: #777e90;
  border: solid 2px #777e90;
  white-space: nowrap;
}

.DetailsCards .Bloc-1 .Price-info .Stok {
  display: block;
  font-family: Inter;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  color: #777e90;
}

.DetailsCards .Bloc-2 {
  margin-top: 40px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #777e90;
}

/***Detail Nav Bar**/
.DetailsCards .Bloc-3 {

  border-radius: 36px;
  border: solid 2px #e6e8ec;
  margin-top: 40px;
  margin-bottom: 32px;


}

.DetailNavbar {
  display: flex;
  align-items: center;
  gap: .75em;
}

.DetailsCards .Bloc-3 .DetailNavbar span {
  color: #777e90;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: .875rem;
  padding: .5em 0.857em;
  border-radius: 100px;
  text-transform: capitalize;
  cursor: pointer;
}

.DetailsCards .Bloc-3 .DetailNavbar span.active,
.DetailNavbar span:hover {
  background-color: #353945;
  color: #fcfcfd;
  transition: .4s;
}

/**DetailsInfo**/
.DetailsInfo {
  /*padding: 32px 0px 0px 0px;*/
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;


}

.DetailsInfo .frame-966 {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0;

}

.avatar-1 {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  border-radius: 48px;
  background-color: #45b26b;
}

.avatar-1>img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.DetailsInfo .infos-1 {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0;
}

.DetailsInfo .infos-1 .type {
  display: block;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #777e90;
}

.DetailsInfo .infos-1 .frame-966 .price {
  display: block;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #171818;
}

.DetailsInfo .infos-1 .FullName {
  flex-grow: 0;
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #23262f;
}

/**Fixed Box**/

.FixedBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
  padding: 1.5em;
  border-radius: 16px;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
  border: solid 1px #e6e8ec;
}

.FixedBox .highest-bid {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 0;
}

.FixedBox .highest-bid .frame-959 {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.FixedBox .highest-bid .frame-959 .row1 {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5em;
  padding: 0;
}

.FixedBox .highest-bid .frame-959 .row1 .highest {
  display: block;
  font-size: 1em;
  font-weight: 500;
  color: #777e90;
}

.FixedBox .highest-bid .frame-959 .row1 .name {
  display: block;
  font-size: 1em;
  font-weight: 500;
  color: #23262f;
}

.FixedBox .highest-bid .frame-959 .row2 {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .75em;
  padding: 0;
}

.FixedBox .highest-bid .frame-959 .row2 .RVN {
  display: block;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #23262f;
}

.FixedBox .highest-bid .frame-959 .row2 .USD {
  display: block;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #777e90;
}

.FixedBox .Fixed-buttons {

  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: .5em;
  padding: 0;
}

.FixedBox .Fixed-buttons .btn {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .75em;
  padding: 1em 1.5em;
  border-radius: 90px;
}

.FixedBox .fixed-footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .75em;
}

.FixedBox .fixed-footer span {
  display: block;
  font-size: 1em;
  font-weight: 500;
  display: inline;
  color: #777e90;
}

/**Icons**/

.Icons .icon {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  border: solid 2px #c7c7d6;
  cursor: pointer;
  transition: .4s;
  background-color: white;
}

.Icons .icon-close {
  background-color: #23262f;
  box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.2);
}

.Icons .icon:hover {
  transform: scale(1.1);
}

/**buttons icon heart**/

.Icons {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.Icons .icon.like-btn .heart path {
  transition: .4s;
}

.Icons .icon.like-btn.liked {
  display: flex !important;
}

.Icons .icon.like-btn.liked .heart path {
  fill: #ff5757;
  fill-rule: nonzero;
}

.DetailsCards .details-container {
  max-height: 250px;
  height: min-content;
  margin-bottom: 4em;
}

/***Bids Cont**/
.bids-cont {
  align-self: stretch;
  position: relative;
  max-height: 250px;
  overflow-y: scroll;
}

.bids-cont::-webkit-scrollbar {
  display: none;
}

.bids-scroll::-webkit-scrollbar {
  display: none;
}

.bids-cont .bids-scroll {
  box-sizing: border-box;
  direction: ltr;
  height: auto;
  position: relative;
  width: 344px;
  will-change: transform;
  width: 100%;
}



.DetailsInfo .horizontal-divider {
  margin-bottom: 1em;
}

/*fixed box owner*/

.FixedBox .input-elt {
  padding: 0.9em 1.2em;
  border-radius: 12px;
  border: solid 2px #e6e8ec;
  width: 100%;
}

.FixedBox .input-elt[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.FixedBox .form-Update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}