.form {
    width: 100%;
}

.form .form-div {
	margin-bottom: 1em;
}

.form .form-div .form-input {
    width: 100%;
	padding: .9em 1.2em;
	border-radius: 12px;
	border: solid 2px #e6e8ec;
}

.form .form-div.error .form-input {
    border-color: rgb(255, 40, 40);
}

.form .form-div .form-label {
    display: block;
    color: #b1b5c3;
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 1.32em;
}

.form .form-div .errors-div {
    margin-top: 10px;
    margin-top: .6em;
}

.form .form-div .errors-div span {
    display: block;
    margin-bottom: .5em;
    font-size: .88rem;
    color: red;
    margin-left: .7em;
}

.form .form-div small {
    font-size: 0.75rem;
    color: #777e90;
}

.form textarea {
    font-family: 'Inter';
    resize: none;
}

.form .form-div .form-inputt::placeholder {
    font-size: 0.9rem;
    color: #777e90;
    font-weight: 500;
}

.form .form-div.errors-div {
    color: red;
}

.form .form-div.errors-div span {
    display: block;
    margin-bottom: .5em;
    font-size: 1rem;
    color: red;
    margin-left: .7em;
}