@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--main-bkclr: #fcfcfd;
	--divider-clr: #e6e8ec;
	--primary-text-clr: #23262f;
	--secondary-text-clr: #777e90;
	--blue-btn-clr: #3772ff;
	--divider-hover-clr: #04040533;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--main-bkclr);
	font-family: 'Inter', sans-serif;
}

img {
	max-width: 100%;
}

button,
input,
textarea {
	outline: none;
}

.vertical-divider {
	width: 2px;
	min-height: 100%;
	border-radius: 2px;
	background-color: var(--divider-clr);
}

.horizontal-divider {
	width: 100%;
	border-top: 1px solid var(--divider-clr);
}

.btn {
	border-radius: 90px;
	padding: 0.85em 1.15em;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.btn-blue {
	background-color: var(--blue-btn-clr);
	color: #fcfcfd;
}

.btn-white {
	background-color: transparent;
	border: solid 2px var(--divider-clr);
	color: var(--primary-text-clr);
}

.model-background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.model-popup-box {
	position: fixed;
	top: 0%;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
	display: none;
	justify-content: center;
	align-items: center;
}

.model-background.active {
	display: block;
}

.model-popup-box.active {
	display: flex;
}

.card {
	border-radius: 20px;
	box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
	background-color: #fcfcfd;
	padding: 2em;
}

.center-container {
	padding-left: 11%;
	padding-right: 11%;
}

.auth-page {
	padding-top: 2em;
	padding-bottom: 3em;
}

.page {
	padding: 4em 11%;
}

.page h2.page-title {
	font-size: 2.5rem;
	font-weight: bold;
	color: #23262f;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
	align-items: center;
}

.block {
	display: block;
	width: fit-content;
}

.btn-loading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .8em;
}

.btn-loading .loading-icon {
	animation: rotate 2s linear infinite;
}

.btn:disabled {
	cursor: auto;
}

.click-detector {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: transparent;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}