.ProfilePage .container {
    padding: 4em 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}

.ProfilePage .ProfileInfoCard {
    margin-top: -11em;
    margin-left: 25%;
}

.ProfilePage .container .profile-pages {
    width: 100%;

}

.ProfilePage .container .profile-pages .profile-content {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 2em;
}

.ProfilePage .container .profile-pages .profile-content .more-btn-container {
    width: 100%;
}

.ProfilePage .container .profile-pages .profile-content .more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
}

.ProfilePage .container .profile-pages .profile-content .TokenCard {
    width: 40%;
    margin-left: 1em;
}
@media screen and (min-width : 900px) {
    .ProfilePage .container{
        flex-direction: row;
        padding: 4em 11%;
    }
    .ProfilePage .ProfileInfoCard{
     margin-top: -11em;
     margin-left: 5em;
    }
    .ProfilePage .container .profile-pages .profile-content .TokenCard {
     width: 30%;
     margin-left: 0em;
    }
    .ProfilePage .container .profile-pages .profile-content {
     flex-direction: row;
     gap : 2em;
    }
 }
 @media screen and (max-width: 480px) {
    .ProfilePage .ProfileInfoCard {
        margin-top: -11em;
       align-self: center;
       margin-left: 0%;
    }
    .ProfilePage .container .profile-pages .profile-content .TokenCard {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
        align-self: center;
    }
    /**to fix**/
    .ProfilePage .container .profile-pages .ProfileNavbar a{
        font-size: .700rem;
    } 

 }
 