.RegisterPage {
    background-color: whitesmoke;
}

.RegisterPage h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.RegisterPage .container {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.RegisterPage .container.card {
    border: 1px solid var(--divider-clr);
}

.RegisterPage .form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.RegisterPage .form .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

.RegisterPage .form .buttons .btn {
    display: block;
    padding-left: 4em;
    padding-right: 4em;
}

.RegisterPage .form .form-div.errors-div {
    background-color: rgba(255, 45, 45, 0.75);
    border-radius: 8px;
    padding: .75em 1em;
    color: whitesmoke;
}

.RegisterPage .form .form-div.errors-div span {
    display: block;
    margin-bottom: .25em;
}