.RegisterSuccessPage {
    background-color: whitesmoke;
}

.RegisterSuccessPage .container {
    width: 100%;
    /* max-width: 600px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.RegisterSuccessPage .container.card {
    border: 1px solid var(--divider-clr);
}

.RegisterSuccessPage .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RegisterSuccessPage .container h2 {
    font-size: 2rem;
    margin-bottom: .5em;
}

.RegisterSuccessPage .container p, .RegisterSuccessPage .container span {
    text-align: center;
    max-width: 650px;
    width: 90%;
}

.RegisterSuccessPage .container p {
    margin-bottom: 1em;
}

.RegisterSuccessPage .container span {
    margin-bottom: 1em;
    font-size: .9rem;
    font-weight: 600;
    color: var(--secondary-text-clr);
    line-height: 30px;
}

.RegisterSuccessPage .container .btn {
    display: block;
    padding-left: 3em;
    padding-right: 3em;
}