.PopularSellersList {
    padding-top: 3em;
    padding-bottom: 3em;
}

.PopularSellersList .header {
    margin-bottom: 4em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.PopularSellersList .header .filter {
    min-width: 25%;
}

.PopularSellersList .header .filter .filter-label {
    font-size: .75rem;
    font-weight: bold;
    color: #b1b5c3;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
}

.PopularSellersList .header .title h4 {
    font-size: 1.5em;
    font-weight: 600;
    color: #777e90;
}

.PopularSellersList .header .title h3 {
    font-size: 2.5em;
    font-weight: 600;
    color: #23262f;
}

.PopularSellersList .sellers-container {
    display: flex;
    gap: 2em;
}

.PopularSellersList .sellers-container .PopularSellerCard {
    flex: 1;
}

.PopularSellerCard {
    padding: 1.5em;
    border-radius: 16px;
    background-color: #fcfcfd;
    transition: .4s transform, .4s shadow-box;
    max-width: 25%;
}

.PopularSellerCard .PopularSellerCard-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.PopularSellerCard .PopularSellerCard-head .trophy {
    border-radius: 1px;
    padding: 0.125em .5em;
    display: flex;
    column-gap: 0.25em;
    align-items: center;
    border-radius: 24px;
}

.PopularSellerCard .PopularSellerCard-head .trophy-1 {
    background-color: #3772ff;
}

.PopularSellerCard .PopularSellerCard-head .trophy-2 {
    background-color: #9757d7;
}

.PopularSellerCard .PopularSellerCard-head .trophy-3 {
    background-color: #45b26b;
}

.PopularSellerCard .PopularSellerCard-head .trophy-4,
.PopularSellerCard .PopularSellerCard-head .trophy-5 {
    background-color: #23262f;
}

.PopularSellerCard .PopularSellerCard-head .trophy span {
    font-size: .75em;
    font-weight: 600;
    color: #fcfcfd;
}

.PopularSellerCard .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
}

.PopularSellerCard .info .avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #45b26b;
    margin-bottom: 0.625em;
}

.PopularSellerCard .info .name {
    font-size: 0.875em;
    font-weight: 500;
    color: #23262f;
    margin-bottom: 0.25em;
}

.PopularSellerCard .info .total {
    font-size: .75em;
    font-weight: 600;
    color: #353945;
}

.PopularSellerCard .info .total .currency {
    font-weight: 400;
    color: #777e90;
}

.PopularSellerCard:hover {
    transform: scale(1.1);
    box-shadow: 0 4em 4em -3em rgba(31, 47, 70, 0.12);
}