.ProfileHeader {
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}

.ProfileHeader.Breadcrumb-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.ProfileHeader.Breadcrumb-wrap .btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.7em;
}

.ProfileHeader.Breadcrumb-wrap .btn * {
	cursor: pointer;
}

.ProfileHeader.Breadcrumb-wrap  .backtoprofile {
	color: #23262f;
}

.ProfileHeader.Breadcrumb-wrap .Breadcrumb {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.4em;
}

.ProfileHeader .Breadcrumb .headerprofile-linkp {
	font-size: 0.9rem;
	font-weight: 700;
	text-decoration: none;
	color: var(--secondary-text-clr);
}


.ProfileHeader .Breadcrumb .headerprofile-link {
	display: block;
	font-size: 0.9rem;
	font-weight: 700;
	text-decoration: none;
    color: #23262f;
}