.MostPopularToken {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10%;
}

.MostPopularToken > img {
    background-color: #e5e5e5;
    border-radius: 8px;
    width: 50%;
}

.MostPopularToken .info {
    width: fit-content;
    min-width: 300px;
}

.MostPopularToken .info h3 {
    text-align: center;
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    color: #23262f;
    margin-bottom: .4em;
}

.MostPopularToken .info .profiles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 5%;
}

.MostPopularToken .info .bid-panel {
    max-width: 100%;
    width: fit-content;
    padding: 2em 3.75em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    box-shadow: 0 4em 4em -3 rgba(31, 47, 70, 0.12);
    border: solid 2px #e6e8ec;
    background-color: #fcfcfd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.8em;
}

.MostPopularToken .info .bid-panel h6 {
    font-size: 1rem;
    font-weight: 500;
    color: #23262f;
}

.MostPopularToken .info .bid-panel .rvn {
    font-size: 2rem;
    font-weight: bold;
    color: #141416;
}

.MostPopularToken .info .bid-panel .dollar {
    font-size: 1.5rem;
    font-weight: 600;
    color: #777e90;
    margin-bottom: .5em;
}

.MostPopularToken .info .buttons .btn {
    width: 100%;
    text-align: center;
}

.MostPopularToken .info .buttons .btn:first-child {
    margin-bottom: .5em;
}