.Timer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Timer .Timer-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Timer .Timer-section .value {
    font-size: 2rem;
    font-weight: bold;
    color: #141416;
}

.Timer .Timer-section .key {
    font-size: 1rem;
    color: #777e90;
}