.CollectionsList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2em;
}

.CollectionsList .CollectionCard {
    width: 100%;
}

@media screen and (min-width : 700px) {
    .CollectionsList {
        flex-direction: row;
        column-gap: 10%;
    }

    .CollectionsList .CollectionCard {
        width: 45%;
    }
}

@media screen and (min-width : 1000px) {
    .CollectionsList {
        column-gap: calc(10% / 2);
    }

    .CollectionsList .CollectionCard {
        width: 30%;
    }
}